body {
	/*background-image: url(../img/NCxPSZufqDQ.jpg);*/
    background-color: #8CECD7;
}

.main-container.col-lg-6.col-lg-offset-3 {
    background-color: rgb(237, 237, 237);
    box-shadow: 0px 0px 50px -11px #000000;
    /*height: 100%;*/
    /*position: absolute;*/
}

textarea#send-messege {
    width: 80%;
    margin: 0 auto;
    display: block;
    background-color: rgb(237, 237, 237);
}

.send-mess {
    display: block;
    margin: 20px auto;
    width: 20%;
    min-width: 100px;
}

div#messeges {
    width: 80%;
    margin: 70px auto 0;
    display: block;
}

.header {
    z-index: 150;
    height: 60px;
    background-color: #86E6D1;
    width: 100%;
    left: 0;
    position: fixed;
    border-bottom: 1px solid #E8D1D1;
    box-shadow: 0px 0px 25px -11px #000000,0px 0px 82px -46px #000000 inset;
}


.header a {
    color: #11161B;
    text-decoration: none;
}

.info {
    margin: 20px;
    float: right;
}

::-webkit-scrollbar
{
    width: 10px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    width:20px;
    background: rgba(0, 0, 0, 0.1);

}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background: rgba(127, 101, 117, 0.29);
}


.block {
    float: left;
    width: 580px;
    height: auto;
    background-color: #F1F1F1;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 30px;
    padding-bottom: 20px;
}


.block-main {
    float: right;
    width: 580px;
    height: auto;
    background-color: #F1F1F1;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 30px;
    padding-bottom: 20px;
}

.mess-text {
    margin-left: 28px;
    width: 350px;
    height: auto;
    display: block;
    position: relative;
    float: left;
    top: 15px;
    left: 15px;
    overflow: hidden;
}

p.mess {
    width: 350;
    word-wrap: break-word;
    padding-top: 10px;
}


span.time {
    float: right;
    color: #51796E;
}

span.name {
    color: #456667;
}

#mess {
    position: absolute;
    padding-bottom: 20px;
}



.main {
    height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    margin: 0 auto;
    background-color: #BEE4D9;
    position: relative;
}

.block:last-child{
    display:none;
}



.sub-block{
    width: 90px;
    height: 90px;
    display: block;
    background-color: #503745;
    position: relative;
    float: left;
    top: 10px;
    left: 15px;
    border-radius: 50%;
    /*background: url(../img/4304fd8dfefd904120be967dee6fbcc011-resize-2000x2000-same-d4e268.jpg) no-repeat center;*/
    /*background-size: cover;*/
}


.block-main > .sub-block {
    width: 90px;
    height: 90px;
    display: block;
    background-color: #503745;
    position: relative;
    float: right;
    margin-right: 50px;
    top: 10px;
    left: 30px;
    border-radius: 50%;
/*    background: url(../img/4304fd8dfefd904120be967dee6fbcc011-resize-2000x2000-same-d4e268.jpg) no-repeat center;*/
    /*background-size: cover;*/
}

.block-users-online {
    position: fixed;
    background-color: #475F6D;
    width: 200px;
    height: 100%;
    z-index: 100;
    left: -200px;
    box-shadow: 0px 0px 25px 1px #6F7071;
}


.block-users-online button {
    margin-top: 60px;
    width: 100%;
    height: 60px;
    background-color: #173742;
    color: #C7B2B2;
    border: 1px solid #736363;
}
/*    width: 150px;
    height: 60px;
    box-shadow: 0px 0px 75px 0px #6F7071 inset,0px 0px 75px 0px #767C96;;
    background-color: #441D32;
    color: #A99D9D;
    border: 1px solid #736363;*/
/*}*/

form.send-mess-form {
    padding-top: 10px;
}

.send-mess {
    position: relative;
    display: inline-block;
    margin: 10px auto;
    width: 20%;
    min-width: 100px;
    left: 37%;
    background-color: #196963;
    color: #64C3C0;
}

.mess-stat {
    position: relative;
    display: inline-block;
    margin: 10px auto;
    width: 20%;
    min-width: 100px;
    right: -40%;
}

div#triangle-bottomleft {
    z-index: -5;
    width: 0;
    height: 0;
    border-bottom: 400px solid #7B6161;
    border-right: 200px solid transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    text-shadow: 0 2px 2px rgba(51, 14, 14, 0.7), 0 10px 4px rgba(0,0,0,0.5);
}


#box-with-shadow-one {

    width: 500px;
    height: 500px;
    position: fixed;
    overflow: hidden;
    z-index: -5;
    transform: rotate(45deg);
    background-color: #A3A3A5;
    box-shadow: 0px 0px 18px 0px #000000;
}
#box-with-shadow-two {
    width: 500px;
    height: 500px;
    position: fixed;
    overflow: hidden;
    z-index: -5;
    transform: rotate(45deg);
    background-color: #4E4E4E;
    box-shadow: 0px 0px 18px 0px #000000;
    right: -150px;
    bottom: 0;
}

.login-form {
    width: 400px;
    height: 200px;
    position: fixed;
    top: 200px;
    left: 40%;
    background-color: #3EA598;
    box-shadow: 0px 0px 18px 0px #000000;
    border-radius: 5px;
}


.login-form form {
    padding: 20px;
}

.login-form .input-group {
    padding: 10px;
    margin: 0 auto;
}

.login-form input.btn.btn-primary {
    margin: 0 auto;
    display: block;
    background-color: #00564F;
    color: #B7D0D0;
}

.online-us {
    color: #EEEFEF;
    text-align: center;
}

.sv-label {
    margin-left: 25px;
    display: inline-block;
}

.sv-label > img {
    width: 60px;
    margin-top: -15px;
}

span.glyphicon.glyphicon-align-justify.menu-on {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 35px;
}



ul.copyright {
    padding: 0;
    margin: 0;
}


.copyright li {
    display: block;
    margin: 0 auto;
    line-height: 24px;
    color: rgb(138, 138, 138);
    position: relative;
    text-align: center;
}

.copyright a {
    color: #D0B7B7;
}

.col.g-7 {
    position: absolute;
    margin-bottom: 10px;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #CA9A9A;
    padding-top: 10px;
}

/*адаптивность*/

@media screen and (max-width: 560px) {

    #mess {
        position: absolute;
        padding-bottom: 20px;
        width: 100%;
    }

    .mess-text {
        margin-left: 28px;
        height: auto;
        display: block;
        position: relative;
        float: left;
        top: 15px;
        left: 15px;
        overflow: hidden;
    }


    .block-main > .sub-block {
        width: 50px;
        height: 50px;
        display: block;
        background-color: #503745;
        position: relative;
        float: right;
        margin-right: 50px;
        top: 10px;
        left: 30px;
        border-radius: 50%;
    }

    .sub-block{
        width: 50px;
        height: 50px;
        display: block;
        background-color: #503745;
        position: relative;
        float: left;
        top: 10px;
        left: 15px;
        border-radius: 50%;
    }

    p.mess {
        word-wrap: break-word;
        padding-top: 10px;
    }

    .block {
        float: left;
        width: 100%;
        height: auto;
        background-color: #F1F1F1;
        margin-top: 20px;
        margin-left: 0px;
        border-radius: 30px;
        padding-bottom: 20px;
    }

    .block-main {
        float: right;
        width: 100%;
        height: auto;
        background-color: #F1F1F1;
        margin-top: 20px;
        margin-right: 0px;
        border-radius: 30px;
        padding-bottom: 20px;
    }

    .mess-text {
        margin-left: 28px;
        width: 65%;
        height: auto;
        display: block;
        position: relative;
        float: left;
        top: 15px;
        left: 15px;
        overflow: hidden;
    }
  
}